/*atributte img <a href="https://storyset.com/book">Book illustrations by Storyset</a>*/
/*color B877FC*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');


*, *::before, *::after {
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70px;
}

.hero-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: flex-start;
}


.hero__left{
    width: 30%;
}

.hero {
    padding: 40px 0;
    background-color: rgba(255, 143, 0, 0.89);
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
}




.hero p{
    margin-bottom: 3em;
}

h1{
    font-size: 3rem;
    margin: 0;
}

.btn-collection {
    /* display: inline-block; */
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em 1em;
    border-radius: 50px;
    background-color: #FFBA55;
    color: #fff;
    align-self: center;
}

.btn-collection:hover,
.btn-collection:focus {
    background-color:#FFEBCD;
    color: rgb(255, 145, 0);

}

.col{
    /* margin: 10px; */
    width: 100%;
}

/* simulates GAP function
.col + .col {
margin-left: 30px;
} */

