/*atributte img <a href="https://storyset.com/book">Book illustrations by Storyset</a>*/
/*color B877FC*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');


*, *::before, *::after {
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
}

.container {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hero {
    padding: 100px 0;
    background-color: #455a64;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
}

.hero__text{
    width: 60%;
}

.hero p{
    margin-bottom: 3em;
}

h1{
    font-size: 3rem;
}

.btn-collection {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #147dad;
    padding: .5em 1.5em;
    border-radius: 100px;
    color: #fff;
}

.btn-collection:hover,
.btn-collection:focus {
    background-color: #1c96cf;
}

.col{
    /* margin: 10px; */
    width: 100%;
}

/* simulates GAP function
.col + .col {
margin-left: 30px;
} */

